[Desktop Entry]
Name=x2gofm
MimeType=application/sshfsdisk-x2go;application/sshfscdrom-x2go;application/sshfsremovable-x2go;
Exec=x2gofm %f
Type=Application
Terminal=false
NoDisplay=true
Icon=file-manager
