Source: x2goserver
Section: x11
Priority: extra
Maintainer: Oleksandr Shneyder <oleksandr.shneyder@obviously-nice.de>
Uploaders:
 Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Build-Depends: 
 debhelper (>= 7)
Standards-Version: 3.9.1

Package: x2goserver
Architecture: all
Depends: 
 x2goagent,
 perl-suid,
 lsof,
 openssh-client,
 openssh-server,
 libconfig-simple-perl,
 makepasswd,
 libdbd-pg-perl,
 libdbd-sqlite3-perl,
 adduser,
 xbase-clients
Recommends:
 sshfs
Breaks: x2goserver-one
Description: x2goserver (daemon and tools)
 X2go is a serverbased computing environment with
 - session resuming
 - low bandwith support
 - LDAP support
 - client side mass storage mounting support
 - audio support
 - authentication by smartcard and USB stick
 .
 x2goserver contains the main daemon and tools for
 session administrations.
