Source: x2goserver
Section: x11
Priority: extra
Maintainer: Oleksandr Shneyder <oleksandr.shneyder@obviously-nice.de>
Uploaders:
 Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Build-Depends: 
 debhelper (>= 7.0.50)
Standards-Version: 3.9.2
Homepage: http://code.x2go.org/releases/source/x2goserver
Vcs-Git: git://code.x2go.org/x2goserver.git
Vcs-Browser: http://code.x2go.org/gitweb?p=x2goserver.git;a=summary

Package: x2goserver
Architecture: all
Depends:
 ${misc:Depends},
 x2goagent,
 perl-suid,
 lsof,
 openssh-client,
 openssh-server,
 libconfig-simple-perl,
 makepasswd,
 libdbd-pg-perl,
 libdbd-sqlite3-perl,
 adduser,
 xauth
Recommends:
 sshfs,
 x11-apps,
 x11-session-utils,
 x11-utils,
 x11-xfs-utils,
 x11-xkb-utils,
 x11-xserver-utils,
 xinit
Replaces:
 x2goserver-one,
 x2goserver-home,
 x2goprint
Description: X2go server daemon scripts
 X2go is a serverbased computing environment with
    - session resuming
    - low bandwith support
    - LDAP support
    - client side mass storage mounting support
    - audio support
    - authentication by smartcard and USB stick
 .
 This package contains the main daemon and tools for
 X2go server-side session administrations.
