#!/usr/bin/make -f

export LIBDIR="/usr/lib/$(shell dpkg-architecture -qDEB_HOST_MULTIARCH)"

%:
	PREFIX=/usr LIBDIR=$(LIBDIR) dh $@

override_dh_auto_build:
	PREFIX=/usr LIBDIR=$(LIBDIR) PERL_INSTALLDIRS=vendor dh_auto_build

override_dh_auto_install:
	if [ -f ChangeLog.gitlog ]; then cp ChangeLog.gitlog ChangeLog; fi
	$(MAKE) -f Makefile build-arch
	PREFIX=/usr LIBDIR=$(LIBDIR) dh_auto_install

override_dh_auto_clean:
	rm -f ChangeLog
	rm -Rfv x2goserver/.build_html
	rm -Rfv x2goserver-extensions/.build_html
	rm -f ChangeLog.gitlog
	rm -f MYMETA.yml
	rm -f Makefile.perl.old
	PREFIX=/usr LIBDIR=$(LIBDIR) dh_auto_clean
	rm -f Makefile.perl
