#!/bin/sh

set -e

# Source debconf library.
. /usr/share/debconf/confmodule

create_group="false"
if ! getent group "x2godesktopsharing" 1>/dev/null; then
	db_input high x2goserver-desktopsharing/create-group-for-sharing || true
	db_go
	db_get x2goserver-desktopsharing/create-group-for-sharing
	create_group=$RET
fi

if [ "$create_group" = "true" ]; then
	db_set x2goserver-desktopsharing/group-sharing "x2godesktopsharing"
else
	db_input high x2goserver-desktopsharing/use-existing-group-for-sharing || true
	db_go
	db_get x2goserver-desktopsharing/use-existing-group-for-sharing
	use_existing_group=$RET

	if [ "$use_existing_group" = "true" ]; then
		loop=1
		while [ $loop -eq 1 ]; do
			db_input high x2goserver-desktopsharing/group-sharing || true
			db_go
			db_get x2goserver-desktopsharing/group-sharing
			group_sharing=$RET
			if getent group $group_sharing 1>/dev/null; then
				loop=0
			else
				db_input critical x2goserver-desktopsharing/no-such-group || true
				db_go
				continue
			fi
		done
	fi
fi

db_input high x2goserver-desktopsharing/auto-start-on-logon || true
db_go
db_get x2goserver-desktopsharing/auto-start-on-logon
auto_start=$RET

if [ "$auto_start" = "true" ]; then
	db_input high x2goserver-desktopsharing/auto-activate-on-logon || true
	db_go
fi
